:root {
    --bg-color: black;
    --highlight-color: orange;
    --fg-color: white;
    --base-font-size: 16px;
    --h1-size: 5em;
    --h2-size: 1.5em;
    --p-size: 1em;
    font-size: var(--base-font-size);
    font-family: "Segoe UI";
}


@viewport {
    width: device-width;
}

html {
    background-color: var(--bg-color);
    color: var(--fg-color);
    height:100%;
}

body {
    height: 100%;
    margin: 0px;
}

h1 {
    font-size: var(--h1-size);
}

h2 {
    font-size: var(--h2-size);
}

p {
    font-size: var(--p-size);
}

header {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}

#leftheader {
    width: 50vw;
    left: 0px;
    height: 100%;
    text-align: center;
    position: relative;
}

h1 {
    padding-top: 30vh;
    margin: 0px;
    font-style: normal;
}

p {
    margin: 0px;
}

#leftheader div {
    height: 50vh;
    margin: 0px; 
    position: relative;
    display: block;
}

#rightheader {
    width: 50%;
    right: 0px;
    position: relative;
}

#rightheader::before {
    box-shadow: 0px 0px 10px 5px var(--highlight-color);
    content:"";
    height: 100vh;
    position: relative;
    display: inline-block;
}

#upperleft {
    top: 0%;
}